@import url("../css/layui.css");
html, body{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #555;
}
.account{
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -160px;
	margin-left: -150px;
	width: 300px;
	height: 300px;
	border-radius: 5px;
	background-color: #fff;
	text-align: center;
	font-size: 14px;
}
.account ul li{
	width: 70px;
}
.account input{
	margin: 10px 0;
	padding: 0 10px;
	width: 238px;
	height: 33px;
	outline: 0 none;
	border: 1px solid #009688;
	border-radius: 2px;
	line-height: 33px;
	appearance: none;
	-webkit-appearance: none;
	transition: box-shadow 0.25s;
	-webkit-transition: -webkit-box-shadow 0.25s;
}
.account input:focus{
	box-shadow: 0 0 5px #009688;
	-webkit-box-shadow: 0 0 5px #009688;
}
.account input.layui-form-danger{
	border-color: #ff5722;
}
.account input.layui-form-danger:focus{
	box-shadow: 0 0 5px #ff5722;
	-webkit-box-shadow: 0 0 5px #ff5722;
}
.account button{
	margin: 10px;
	width: 260px;
	height: 35px;
	border: 0 none;
	border-radius: 2px;
	line-height: 35px;
	background-color: #009688;
	color: #fff;
	cursor: pointer;
}
.account button:hover{
	background-color: #33aba0;
}
.account button:active{
	background-color: #009688;
}