.icon>svg, svg.icon {
    width: .68rem;
    height: .68rem;
	color: #1a1a1a;
    vertical-align: -.15ex;
    fill: currentColor;
}
.wrap {
    min-height: 500px;
    min-height: calc(100vh - 7.35rem);
    background-color: #fff;
    box-shadow: 0 200px #fff;
}
.content {
    padding-bottom: .1px;
    background-color: #f6f7f9;
}
.header {
    position: relative;
    box-sizing: border-box;
    height: 2.5rem;
    padding-top: .6875rem;
    padding-bottom: .625rem;
    border-bottom: 1px solid #f0f1f2;
    background-color: #fff;
}
.wrap .header[open] {
    background-color: #fff;
}
.wrap .header {
    z-index: 1;
    border-bottom: 0;
}
.header-back {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    padding: .3rem .4125rem .325rem .475rem;
}
.header-back+.header-back-title {
    font-size: .575rem;
    font-weight: 400;
    line-height: 0.975rem;
    position: absolute;
    left: 1.875rem;
    overflow: hidden;
    max-width: 60%;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.header-operate {
    position: absolute;
	color: #1a1a1a;
    top: 0;
    right: 0;
    bottom: 0;
    padding: .25rem .375rem;
}

.header-operate svg {
    display: block;
    margin: .325rem auto;
}
.header-operate-a, .header-operate>.icon {
    float: left;
    overflow: hidden;
    width: 1.25rem;
    height: 1.25rem;
}
a.icon-more:empty {
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
}
a.icon-more:empty::after, a.icon-more:empty::before {
    position: absolute;
    top: .86rem;
    left: 50%;
    width: .86rem;
    margin-top: -10px;
    margin-left: -.5rem;
    content: '';
    -webkit-transition: all .15s;
    transition: transform .15s;
    border-top: 1px solid;
}
a.icon-more:empty::before {
    height: 10px;
    -webkit-transform-origin: top center;
    transform-origin: top center;
    border-bottom: 1px solid;
}
a.icon-more:empty::after {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
}
a.icon-more.active::before {
    height: 0;
    -webkit-transform: translateY(0) rotate(45deg);
    transform: translateY(0) rotate(45deg);
    border-bottom: 0;
}
a.icon-more.active::after {
    -webkit-transform: translateY(0) rotate(-45deg);
    transform: translateY(0) rotate(-45deg);
}
.btn-group {
    display: table;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    table-layout: fixed;
}
.btn-group-small {
    width: auto;
}
.header .btn-group-small {
    margin-top: -2px;
}
.btn-group-cell {
    font-size: 100%;
    font-weight: 400;
    display: table-cell;
}
.btn-tab {
    font-size: .6rem;
    line-height: 1rem;
    display: block;
    padding: 0 .5rem;
    text-align: center;
    color: #1a1a1a;
    border: 1px solid #1a1a1a;
}
.active>.btn-tab, .btn-tab.active {
    color: #fff;
    background-color: #1a1a1a;
}
.btn-group-small .btn-tab {
    line-height: 1.2rem;
    padding: 0 .5rem;
}
.btn-group-cell:first-child>.btn-tab {
    border-radius: .15rem 0 0 .15rem;
}
.btn-group-cell:last-child>.btn-tab {
    border-radius: 0 .15rem .15rem 0;
}

/* 书架内容 */
.module {
    margin: .75rem 0;
    background-color: #fff;
}
.module-merge {
    margin: 0;
    min-height: calc(100vh - 6rem);
}
.book-layout {
    position: relative;
    display: block;
    overflow: hidden;
    padding: .5rem;
    -webkit-transition: padding-left .15s;
    transition: padding-left .15s;
}
.mybook-to-detail {
    position: absolute;
    top: .68rem;
    white-space: nowrap;
}
.book-cover {
    font-size: 0;
    float: left;
    width: 4.125rem;
    height: 5.5rem;
    margin-right: .5rem;
    box-shadow: 0 1px 3px rgba(0,0,0,.3);
}
.book-ol-progress .book-cover {
    width: 2.375rem;
    height: 3.25rem;
    margin-right: .75rem;
}
.mybook-to-detail .book-cover {
    margin-right: 0;
}
.book-title-x {
    display: block;
    overflow: hidden;
}
.book-title-r {
    font-size: .55rem;
    line-height: 1.1rem;
    float: right;
    margin-left: .5rem;
    color: #969ba3;
}
.book-title-r:first-child {
    margin-left: .5rem;
}
.mybook-to-detail+.book-title-x {
    position: absolute;
    top: .68rem;
    left: 3rem;
}
.book-title {
    line-height: 1.4;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: .7rem;
}
.mybook-to-goon {
    display: block;
    min-height: 1.5rem;
    margin: 0 -1rem;
    padding: .8rem 1rem 1rem 4rem;
}
.book-meta {
    font-size: .75rem;
    overflow: hidden;
}
.book-ol-progress .book-meta {
    font-size: .5rem;
    color: #969ba3;
}
 .book-meta {
    margin: .25rem 0;
}
.ell {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.rel {
    position: relative;
}
.mybook-to-new {
    line-height: .8rem;
    position: absolute;
    top: -1.25rem;
    right: 0;
    left: 3.125rem;
}
.book-meta {
    font-size: .75rem;
    overflow: hidden;
}
.book-meta-r {
    position: relative;
    float: right;
}
.book-meta-r:first-child {
    margin-left: .5rem;
}
.content div.book-layout, .page-mybook div.book-layout, .page-myread div.book-layout {
    padding: 0 .5rem;
}
div#foot {
    border-top: 10px solid #f6f7f9;
}
.guide{
    top:2.55rem;
}
.null {
    font-size: .8125rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    max-width: 50%;
    height: 4.875rem;
    margin: auto;
    text-align: center;
    color: #969ba3;
}
.null>svg.icon{
    height: 3rem;
    width: 100%;
    margin: .6rem 0;
}
.book-li::after {
    display: block;
    margin-top: .5rem;
    margin-left: 1rem;
    content: '';
    -webkit-transition: margin-left .15s;
    transition: margin-left .15s;
    border-bottom: .05rem solid #f0f1f2;
}