<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<title>十年回顾，优惠大酬宾 - 蜜色-绅士与女神常访问</title>
<meta name="description" content="" />
<meta name="keywords" content="" />
<meta name="author" content="蜜色-绅士与女神常访问" />
<link rel="stylesheet" href="/template/RX03/html/style/css/txcstx.css" />
<!-- Favicon Icon -->
<link rel="icon" type="image/png" href="/template/RX03/html/style/images/favicon.png" />
<!-- Bootstrap core CSS-->
<link href="/template/RX03/html/style/css/bootstrap.min.css" rel="stylesheet" />
<!-- Custom fonts for this template-->
<link href="/template/RX03/html/style/css/all.min.css" rel="stylesheet" type="text/css" />
<!-- Custom styles for this template-->
<link href="/template/RX03/html/style/css/osahan.css" rel="stylesheet" />
<!-- Owl Carousel -->
<link rel="stylesheet" href="/template/RX03/html/style/css/owl.carousel.css" />
<link rel="stylesheet" href="/template/RX03/html/style/css/owl.theme.css" />
<link href="/template/RX03/html/style/css/sweetalert.css" rel="stylesheet" type="text/css" />
<script src="/template/RX03/html/style/js/sweetalert.min.js" type="text/javascript"></script>
<script src="/template/RX03/html/style/js/jquery.min.js"></script>
<script src="/template/RX03/html/style/js/jquery.lazyload.min.js"></script>
<script src="/static/js/jquery.autocomplete.js"></script>
<script src="/template/RX03/js/jquery.superslide.js"></script>
<link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
<script src="/template/RX03/js/jquery.base.js"></script>
<script>var maccms={"path":"","mid":"2","aid":"24","url":"alxdubai-163-sosohu.askdjbr.xyz:1314","wapurl":"","mob_status":"0"};</script>
<script src="/static/js/home.js"></script>
<style>
.table.table-sm .div-pc {display: table-row-group;vertical-align: middle;border-color: inherit;}.table.table-sm ul {padding-left: 0;display: table-row;vertical-align: inherit;border-color: inherit;}.ui-slide-block li {float: left;border-bottom: 1px solid #dee2e6;list-style-type: none;width: 25%;padding: .3rem;overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}.ui-slide-block-pc li,.ui-slide-block-pc-down li,.ui-slide-block-pc-down2 li{width: 120px;font-size: 14px;line-height: 25px !important;padding: .3rem;vertical-align: top;float: left;border-bottom: 1px solid #dee2e6;list-style-type: none;overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}@media (max-width: 768px){body.sidebar-toggled #block-slide{display: block !important}.navbar-brand{width:8rem;margin-right: 0rem!important;}.table.table-sm ul{display:block;overflow:hidden;}}
</style>
<style>
        .sidebar .nav-item .dropdown-menu{
            top: -100%!important;
        }
        .shadow_border{border: 1px solid #000;padding: 60px; width:100px;
            -webkit-border-radius: 8px;
            -moz-border-radius: 8px;
            border-radius: 8px;
            -webkit-box-shadow: #666 0px 0px 10px;
            -moz-box-shadow: #666 0px 0px 10px;
            box-shadow: #666 0px 0px 10px;}


        .shadow_font{text-shadow: #f00 3px 3px 3px;}

        .nav_new{
            position: fixed;

            z-index: 99;
            width: 100%;
        }
        .ui-fix-top{
            position: fixed;
            left:0;
            right:0;
            top:0
        }
        .ui-wrapper{
            margin-top: 58px;
        }
        .ui-slide-block-pc,.ui-slide-block-pc-down2{
            background: linear-gradient(123deg, #ff516b 0%,#8876ea 100%);
            display: none;
            /*position: sticky;*/
            position: fixed;
            z-index: 100;
            margin-left: 14.1rem;
            border-bottom:5px solid #ffbfef;
            border-right:5px solid #ffbfef;
            /*border-left:5px solid #ffbfef;*/
        }


         .ui-slide-block-pc td,.ui-slide-block-pc-down2 td{
             width: 120px;
             font-size: 14px;
             line-height: 25px !important;
         }

        .ui-slide-block-pc-down{
            background: linear-gradient(123deg, #69dccc 0%,#5b4baf 100%);
            display: none;
            /*position: sticky;*/
            position: fixed;
            z-index: 100;
            margin-left: 14.1rem;
            border-bottom:5px solid #a8f7ee;
            border-right:5px solid #a8f7ee;
            /*border-left:5px solid #ffbfef;*/
        }

        .ui-slide-block-pc-down td{
            width: 120px;
            font-size: 14px;
            line-height: 25px !important;
        }

        .ui-slide-block{
            background: linear-gradient(123deg, #ff516b 0%,#8876ea 100%);
            display: none;
            position: sticky;
            position: fixed;
            z-index: 100;
        }

        .no-border{
            border-top: 0px solid #dee2e6 !important;
        }

		.single-video-info-content img {
			max-width: 100%;
		}
				
		@media (max-width: 575.98px){
			.single-video-title .row .float-right {
				float: none !important;
				margin: 14px 0 0;
				text-align: center;
			}
			
			.single-video-title .row .float-right a {
				float: none !important;
			}
		}
    </style>
<style>
	/*弹出层*/
	.mac_pop_msg_bg{position: fixed; z-index: 129; left: 0;top: 0; width: 100%; height: 100%; background: rgba(0,0,0,.2);}
	.mac_pop_msg { z-index:99999; display: none; min-height: 20px; max-height: 750px; position: fixed;  top: 0;  left: 0;  bottom: 0;  right: 0;  margin: auto;  padding: 25px;  z-index: 130;  border-radius: 8px;  background-color: #fff;  box-shadow: 0 3px 18px rgba(0, 0, 0, .5);}
	.mac_pop_msg .pop-msg{  text-align:center;  font-size: 14px;  }
	.gbook_content {width: 100% !important;border: 2px solid hsla(0,0%,100%,.7);padding: 10px 10px 0;}
	.msg_code input{height: 30px;margin-top: 5px;border: 1px solid #fff;border-radius: 3px;}
	.mac_verify_img{pointer-events: unset !important;height: 30px;margin-top: 5px;float: right;}
	.mac_pop .mac_report .gbook_submit{color:#f3c669;}
	.mac_pop .mac_report .gbook_submit:hover{color: #f3c669;background: #f3c6691f;}
	.mac_pop,.mac_pop_bg{display:none !important;}
	.mac_block{display:block !important;}
	</style>
</head>
<body id="page-top" class="">
<nav class="navbar navbar-expand navbar-light bg-white static-top osahan-nav sticky-top">
  <button type="button" class="d-block d-sm-none btn btn-primary border-none btn-sm order-1 order-sm-0" id="sidebarToggle"><i
		 class="fa fa-bars"></i>导航</button>
  <button class="d-none d-sm-block btn btn-link btn-sm text-secondary order-1 order-sm-0" id="sidebarToggle"> <i class="fa fa-bars"></i> </button>
  <a class="navbar-brand" href="/" style="margin-right: 1.3rem;"><img class="img-fluid" style="max-width: 90%;" alt="蜜色-绅士与女神常访问"  src="/static/images/logo.jpg" /></a>
  <button type="button" class="d-none d-sm-block btn btn-primary border-none btn-sm order-1 order-sm-0" id="sidebarTogglePc"><i
		 class="fa fa-video-camera"></i> 在线视频分类</button>
  <!--<button type="button" style="margin-left: 20px" class="d-none d-sm-block btn btn-primary border-none btn-sm order-1 order-sm-0"
	 id="sidebarTogglePcDown"><i class="fa fa-image"></i> 套图专区分类</button>-->
  <button type="button" style="margin-left: 20px" class="d-none d-sm-block btn btn-primary border-none btn-sm order-1 order-sm-0"
	 id="sidebarTogglePcDown2"><i class="fa fa-book"></i> 小说专区分类</button>
  <!-- Navbar Search -->
  <form id="search" action="/index.php/vod/search.html" method="get" onSubmit="return qrsearch();" class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-5 my-2 my-md-0 osahan-navbar-search">
    <div class="input-group">
      <input type="text" id="wd" name="wd" class="form-control" placeholder="输入关键字进行搜索…" />
      <div class="input-group-append">
        <button class="btn btn-light" type="submit"> <i class="fa fa-search"></i> </button>
      </div>
    </div>
  </form>
  <!-- Navbar -->
  <ul class="navbar-nav ml-auto ml-md-0 osahan-right-navbar">
  </ul>
</nav>
<div class="ui-slide-block" style="font-size: 12px;display: none;" id="block-slide">
  <div class="container">
    <div class="table table-sm" style="margin-bottom: 0rem;">
      <div>
        <div style="line-height:20px;padding: .3rem;">
          <form id="search" method="get" action="/index.php/vod/search.html" onSubmit="return qrsearch();" class="form-inline ml-auto mr-0 mr-md-5 my-2 my-md-0 ">
            <div class="input-group">
              <input class="form-control border-form-control search-input" style="background-color: white;border: none" id="wd"
							 name="wd" placeholder="输入关键字进行搜索" type="text" />
              <button type="submit" class="btn btn-danger border-none"> 搜索 </button>
            </div>
          </form>
        </div>
        <span style="color: #ffade8;font-size: 16px" target="_blank"><i class="fa fa-fw fa-video"></i>视频区</span>
        <ul>
          <li style="line-height:20px"><a style="color: white;" href="/" target="_blank"><b>首页</b></a></li>
          <li style="line-height:20px"><a style="color: #f5ff06;" href="/index.php/user/upgrade.html" target="_blank"><b>升级VIP</b></a></li>
          <li style="line-height:20px"><a style="color: #f5ff06;" href="/index.php/vod/type/id/20.html" target="_blank"><b>试看</b></a></li>
          <li style="line-height:20px"><a style="color: #f5ff06;" href="/index.php/vod/search/by/time_add.html" target="_blank"><b>最近更新</b></a></li>
          <li style="line-height:20px"><a style="color: #f5ff06;" href="/index.php/vod/search/by/hits.html" target="_blank"><b>最多观看</b></a></li>
          <li style="line-height:20px"><a style="color: white;" href="/index.php/vod/type/id/1.html" target="_blank">经典视频</a></li>
          <li style="line-height:20px"><a style="color: white;" href="/index.php/vod/type/id/20.html" target="_blank">试看推荐</a></li>
          <li style="line-height:20px"><a style="color: white;" href="/index.php/vod/type/id/8.html" target="_blank">精彩视频</a></li>
          <li style="line-height:20px"><a style="color: white;" href="/index.php/vod/type/id/2.html" target="_blank">99热VIP</a></li>
          <li style="line-height:20px"><a style="color: white;" href="/index.php/vod/type/id/6.html" target="_blank">经典国产</a></li>
          <li style="line-height:20px"><a style="color: white;" href="/index.php/vod/type/id/7.html" target="_blank">经典日韩</a></li>
          <li style="line-height:20px"><a style="color: white;" href="/index.php/vod/type/id/10.html" target="_blank">欧美激情</a></li>
          <li style="line-height:20px"><a style="color: white;" href="/index.php/vod/type/id/16.html" target="_blank">99自拍</a></li>
          <li style="line-height:20px"><a style="color: white;" href="/index.php/vod/type/id/17.html" target="_blank">99无码</a></li>
          <li style="line-height:20px"><a style="color: white;" href="/index.php/vod/type/id/18.html" target="_blank">99动漫</a></li>
          <li style="line-height:20px"><a style="color: white;" href="/index.php/vod/type/id/3.html" target="_blank">99sm</a></li>
          <li style="line-height:20px"><a style="color: white;" href="/index.php/vod/type/id/4.html" target="_blank">99VR</a></li>
          <li style="line-height:20px"><a style="color: white;" href="/index.php/vod/type/id/9.html" target="_blank">精彩国产</a></li>
          <li style="line-height:20px"><a style="color: white;" href="/index.php/vod/type/id/11.html" target="_blank">精彩日韩</a></li>
          <li style="line-height:20px"><a style="color: white;" href="/index.php/vod/type/id/12.html" target="_blank">精彩欧美</a></li>
          <li style="line-height:20px"><a style="color: white;" href="/index.php/vod/type/id/13.html" target="_blank">精彩动漫</a></li>
          <li style="line-height:20px"><a style="color: white;" href="/index.php/vod/type/id/14.html" target="_blank">精彩三级</a></li>
        </ul>
        <!--<span style="color: #ffccfa;font-size: 16px;" target="_blank"><i class="fa fa-image"></i>套图区</span>
        <ul>
          <li style="line-height:20px"><a style="color: white;" href="/index.php/art/search/by/time_add.html" target="_blank">最新套图</a></li>
          <li style="line-height:20px"><a style="color: white;" href="/index.php/art/search/by/hits.html" target="_blank">热门套图</a></li>
                    <li style="line-height:20px"><a style="color: white;" href="/index.php/art/type/id/5.html" target="_blank">性感美女</a></li>
                    <li style="line-height:20px"><a style="color: white;" href="/index.php/art/type/id/21.html" target="_blank">激情小说</a></li>
                    <li style="line-height:20px"><a style="color: white;" href="/index.php/art/type/id/15.html" target="_blank">系统公告</a></li>
                  </ul>-->
        <span style="color: #ffccfa;font-size: 16px;" target="_blank"><i class="fa fa-fw fa-book"></i>小说区</span>
        <ul>
          <li style="line-height:20px"><a style="color: white;" href="/index.php/art/type/id/5.html" target="_blank">性感美女</a></li>
          <li style="line-height:20px"><a style="color: white;" href="/index.php/art/type/id/21.html" target="_blank">激情小说</a></li>
          <li style="line-height:20px"><a style="color: white;" href="/index.php/art/type/id/15.html" target="_blank">系统公告</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="ui-slide-block-pc" id="block-slide-pc">
  <div class="container">
    <div class="table table-sm" style="width: 480px;margin-bottom: -0.1rem;">
      <div class="div-pc">
        <ul>
          <li style="line-height:20px"><a style="color: white;" href="/" target="_blank"><b>首页</b></a></li>
          <li style="line-height:20px"><a style="color: #f5ff06;" href="/index.php/user/upgrade.html" target="_blank"><b>升级VIP</b></a></li>
          <li style="line-height:20px"><a style="color: #f5ff06;" href="/index.php/vod/type/id/20.html" target="_blank"><b>试看</b></a></li>
          <li style="line-height:20px"><a style="color: #f5ff06;" href="/index.php/vod/search/by/time_add.html" target="_blank"><b>最近更新</b></a></li>
          <li style="line-height:20px"><a style="color: #f5ff06;" href="/index.php/vod/search/by/hits.html" target="_blank"><b>最多观看</b></a></li>
          <li style="line-height:20px"><a style="color: white;" href="/index.php/vod/type/id/1.html" target="_blank">经典视频</a></li>
          <li style="line-height:20px"><a style="color: white;" href="/index.php/vod/type/id/20.html" target="_blank">试看推荐</a></li>
          <li style="line-height:20px"><a style="color: white;" href="/index.php/vod/type/id/8.html" target="_blank">精彩视频</a></li>
          <li style="line-height:20px"><a style="color: white;" href="/index.php/vod/type/id/2.html" target="_blank">99热VIP</a></li>
          <li style="line-height:20px"><a style="color: white;" href="/index.php/vod/type/id/6.html" target="_blank">经典国产</a></li>
          <li style="line-height:20px"><a style="color: white;" href="/index.php/vod/type/id/7.html" target="_blank">经典日韩</a></li>
          <li style="line-height:20px"><a style="color: white;" href="/index.php/vod/type/id/10.html" target="_blank">欧美激情</a></li>
          <li style="line-height:20px"><a style="color: white;" href="/index.php/vod/type/id/16.html" target="_blank">99自拍</a></li>
          <li style="line-height:20px"><a style="color: white;" href="/index.php/vod/type/id/17.html" target="_blank">99无码</a></li>
          <li style="line-height:20px"><a style="color: white;" href="/index.php/vod/type/id/18.html" target="_blank">99动漫</a></li>
          <li style="line-height:20px"><a style="color: white;" href="/index.php/vod/type/id/3.html" target="_blank">99sm</a></li>
          <li style="line-height:20px"><a style="color: white;" href="/index.php/vod/type/id/4.html" target="_blank">99VR</a></li>
          <li style="line-height:20px"><a style="color: white;" href="/index.php/vod/type/id/9.html" target="_blank">精彩国产</a></li>
          <li style="line-height:20px"><a style="color: white;" href="/index.php/vod/type/id/11.html" target="_blank">精彩日韩</a></li>
          <li style="line-height:20px"><a style="color: white;" href="/index.php/vod/type/id/12.html" target="_blank">精彩欧美</a></li>
          <li style="line-height:20px"><a style="color: white;" href="/index.php/vod/type/id/13.html" target="_blank">精彩动漫</a></li>
          <li style="line-height:20px"><a style="color: white;" href="/index.php/vod/type/id/14.html" target="_blank">精彩三级</a></li>
        </ul>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="ui-slide-block-pc-down" id="block-slide-pc-down">
  <div class="container">
    <div class="table table-sm" style="width: 480px;margin-bottom: -0.1rem;">
      <div class="div-pc">
        <ul>
          <li style="line-height:20px"><a style="color: white;" href="/" target="_blank"><b>首页</b></a></li>
          <li style="line-height:20px"><a style="color: #f5ff06;" href="/index.php/user/upgrade.html" target="_blank"><b>升级VIP</b></a></li>
          <li style="line-height:20px"><a style="color: #f5ff06;" href="/index.php/art/search/by/time_add.html" target="_blank"><b>最新套图</b></a></li>
          <li style="line-height:20px"><a style="color: #f5ff06;" href="/index.php/art/search/by/hits.html" target="_blank"><b>热门套图</b></a></li>
          <li style="line-height:20px"><a style="color: white;" href="/index.php/art/type/id/5.html" target="_blank">性感美女</a></li>
          <li style="line-height:20px"><a style="color: white;" href="/index.php/art/type/id/21.html" target="_blank">激情小说</a></li>
          <li style="line-height:20px"><a style="color: white;" href="/index.php/art/type/id/15.html" target="_blank">系统公告</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="ui-slide-block-pc-down2" id="block-slide-pc-down2">
  <div class="container">
    <div class="table table-sm" style="width: 480px;margin-bottom: -0.1rem;">
      <div class="div-pc">
        <ul>
          <li style="line-height:20px"><a style="color: white;" href="/" target="_blank"><b>首页</b></a></li>
          <li style="line-height:20px"><a style="color: #f5ff06;" href="/index.php/user/upgrade.html" target="_blank"><b>升级VIP</b></a></li>
          <li style="line-height:20px"><a style="color: white;" href="/index.php/art/type/id/5.html" target="_blank">性感美女</a></li>
          <li style="line-height:20px"><a style="color: white;" href="/index.php/art/type/id/21.html" target="_blank">激情小说</a></li>
          <li style="line-height:20px"><a style="color: white;" href="/index.php/art/type/id/15.html" target="_blank">系统公告</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div id="wrapper">
  <!-- Sidebar -->
  <ul class="sidebar navbar-nav ">
    <li class="nav-item active"> <a class="nav-link" href="/"> <i class="fa fa-fw fa-home"></i> <span>首页</span> </a> </li>
    <li class="nav-item"> <a class="nav-link d-none d-sm-block" id="sidebarTogglePcLeft"> <i class="fa fa-fw fa-bars"></i> <span>视频分类</span> </a> </li>
    <li class="nav-item"> <a class="nav-link" href="/index.php/user/upgrade.html" > <i class="fa fa-fw fa-cart-plus"></i> <span>升级VIP</span> </a> </li>
    <li class="nav-item"> <a class="nav-link" href="/index.php/vod/search/by/time_add.html"> <i class="fa fa-fw fa-user-circle"></i> <span>最近更新</span> </a> </li>
    <li class="nav-item"> <a class="nav-link" href="/index.php/vod/search/by/hits.html"> <i class="fa fa-fw fa-fire"></i> <span>热门视频</span> </a> </li>
    <li class="nav-item"> <a class="nav-link d-none d-sm-block" id="sidebarTogglePcLeftDown"> <i class="fa fa-fw fa-image"></i> <span>套图专区</span> </a> </li>
    <li class="nav-item"> <a class="nav-link d-none d-sm-block" id="sidebarTogglePcLeftDown2"> <i class="fa fa-fw fa-book"></i> <span>小说专区</span> </a> </li>
    <li class="nav-item channel-sidebar-list"> </li>
    <li class="nav-item"> <a class="nav-link" href="/index.php/user/plays.html"> <i class="fa fa-fw fa-history"></i> <span>最近观看</span> </a> </li>
    <li class="nav-item"> <a class="nav-link" href="/index.php/user/favs.html"> <i class="fa fa-fw fa-heart"></i> <span>我的收藏</span> </a> </li>
    <li class="nav-item"> <a class="nav-link" href="/index.php/gbook/index.html"> <i class="fa fa-fw fa-clipboard"></i> <span>留言求片</span> </a> </li>
  </ul>
  <div id="content-wrapper">
    <div class="container-fluid pb-0">
      <div class="video-block section-padding">
        <div class="row">
          <div class="col-md-9">
            <div class="single-video-left">
              <div class="single-video-title box mb-3">
                <h2><a>十年回顾，优惠大酬宾</a></h2>
                <p class="mb-0"> </p>
                <div class="row"> <span class="col-md-11"> <span class="float-left"><i class="fas fa-eye"></i> <span class="mac_hits hits" data-mid="2" data-id="6" data-type="hits"></span> views </span> <span class="float-left" style="margin-left: 10px">所属分类:<a href="/index.php/art/type/id/15.html"><strong>系统公告</strong></a> <span title="" data-placement="top" data-toggle="tooltip" data-original-title="精品认证"><i class="fas fa-check-circle text-success"></i></span></span><br/>
                  <small>发布于 2019-12-17 02:14:08</small> </span> <span class="float-right col-md-1"> <a style="float: right;" href="javascript:;" data-mid="2" class="btn btn-outline-danger mac_ulog" data-type="2" data-id="6"> <strong><i class="fas fa-star"></i></strong>收藏</a> </span> </div>
                <p></p>
              </div>
              <div class="single-video-info-content box mb-3">
                <div class="fz-bg">
                  <div class="fz-box">
                    <h2 class="f-22 mb30 ta-c">蜜色发展历程</h2>
                    <ul class="fz-list"><h3>
                      <li> <span>2010<small>某月某日</small></span>
                        <p><span>开始因为热爱做了一个日本av站，在EBAY买了一套源码程序，捣鼓捣鼓就上线了，站长平时喜欢看av影片，有空会把一些av影片录制下来然后转载发布自己的网站，慢慢积累了粉丝，看到大家点赞留言非常有成就感，网站也不赚钱，纯属爱好，后来Xvideos封杀福利视频，Xvideos粉丝应该知道，蜜色是最早没有自己做储存，网站由于是引用Xvideos的，所以视频源断了也就被迫关闭了。</span></p>
                      </li>
                      <li> <span>2012<small>2月15日</small></span>
                        <p><span>过完年到日本实习，时间比较充裕，当时站长建了一个交流群，里面都是喜欢看AV的朋友，平时没事就交流AV，然后我开玩笑要不你们给我众筹，我去平台刷礼物，录制更多大尺的AV分享给大家。后来是群里一个搞设计的朋友找到我，他当真了，然后我想就试试吧，网站的第一版就是由他设计的，我是学编程所以两个人一拍即合，蜜色</span></p>
                      </li>
                      <li> <span>2015<small>3月27日</small></span>
                        <p><span>网站上线最开始赞助的都是群里面的兄弟，拿到大家的钱就开始买AV片源。折腾了一个多月，把录制的视频整理分类，截图，上传服务器，网站视频也不多，就自己下载收藏AV视频发上去，记得就500多部。</span></p>
                      </li>
                      <li> <span>2017<small>4月初</small></span>
                        <p><span>这样过了快一年，网站也慢慢有了一些人气积累，新加入的会员多起来了，所以我们两个也感觉到责任重大，不能像之前那样，随心下载了，必须保证视频更新进度，那时开始招聘下载上传人手，24小时不间断更新，丰富网站内容！</span></p>
                      </li>
                      <li> <span>2017<small>8月30日</small></span>
                        <p><span>这个月网站进行了上线后的第一次改版，随着资源越来越多，视频也积累到4000多部，之前的布局太杂乱，我们重新设计了版面，做了细致的分类。</span></p>
                      </li>
                      <li> <span>2018<small>1月08日</small></span>
                        <p><span>这个月发生了两件非常头疼的事情，1：网站被攻击被迫关站两天，2：某服务器的资源因硬盘损坏资源全部丢失，一度准备永久关站。感觉就这样关了辜负了大家对我们的信任，特别是刚刚加入的会员，所以我们又开始了漫长的修复过程，重新转码上传！</span></p>
                      </li>
                      <li> <span>2018<small>6月左右</small></span>
                        <p><span>有了上次的经验，我们决定把资源上传到两个服务器了，Google 和微软！</span></p>
                      </li>
                      <li> <span>2018<small>8月08日</small></span>
                        <p><span>这个月做了大量功课，学习新技术，我们决定放弃存储在第三方，不惜高昂服务器费用把全部资源迁移出来，存自己的网盘，总算有了保障，也有了更多的精力专心视频更新，网站资源更新到10000多部！</span></p>
                      </li>
                      <li> <span>2019<small>2月16日</small></span>
                        <p><span>这是今年比较重要的一个决定，从部分AV女优站，变成了一个集国产、动漫、欧美综合性网站，加上去年客服收集VIP会员建议，所以去年我们就慢慢开始收集全网热门资源！ 这个月网站进行了第二次重大改版，在日本AV区基础上增加了 3大版块 国产，动漫，和欧美，资源也从10000多部，更新到 三万多部，网站界面也进行了二次设计，改成了全屏版，资源进行了细致归类，网站也加大了资金投入，70%的赞助收入我们将用于资源收集购买，目标打造一个您喜欢的看片网站。</span></p>
                      </li>
                      <li> <span>待续<small>....</small></span>
                        <p><span>之后的事情待续，感谢新老会员的支持与厚爱，不管各位是通过什么途径来到的本站我相信大家既是有缘。也许你熟知各大平台是个资深玩家，也许你只是出于好奇才刚接触，在这里多多少少我们都有着共同的兴趣</span></p></h3>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="video-block section-padding mb-3 d-none d-sm-block">
                <div class="row">
                  <div class="col-md-12">
                    <div class="main-title">
                      <h6>猜你喜欢</h6>
                    </div>
                  </div>
                  <div class="col-xl-3 col-sm-6 mb-3">
                    <div class="video-card"> </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="single-video-right">
              <div class="row">
                <div class="col-md-12">
                  <script src="/template/RX03/ads/playads.js"></script>
                  <div class="main-title">
                    <h6>系统公告热门套图</h6>
                  </div>
                </div>
                <div class="col-md-12"> </div>
              </div>
              <div class="row  d-block d-sm-none">
                <div class="col-md-12">
                  <div class="main-title">
                    <h6>猜你喜欢</h6>
                  </div>
                </div>
                <div class="col-md-12"> </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
    <!-- Sticky Footer -->
    <span style="display:none" class="mac_ulog_set" alt="设置内容页浏览记录" data-type="1" data-mid="2" data-id="6" data-sid="" data-nid=""></span> <span style="display:none" class="mac_history_set" alt="设置History历史记录" data-name="[系统公告]十年回顾，优惠大酬宾" data-pic="/"></span>
    <footer class="sticky-footer" style="margin-left: initial; margin-top: 30px;">
      <div class="container">
        <div class="row no-gutters">
          <div class="col-lg-6 col-sm-6">
            <p class="mt-1 mb-0">© Copyright 2019 <strong class="text-dark">蜜色-绅士与女神常访问</strong>. All Rights Reserved<br />
              <small class="mt-0 mb-0">
              <script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?65deabc9d699ca84d8f4dccc076ca958";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
              </small> </p>
          </div>
          <div class="col-lg-6 col-sm-6 text-right">
            <div class="app"> <a><img alt="" src="/template/RX03/html/style/images/google.png" /></a> <a><img alt="" src="/template/RX03/html/style/images/apple.png" /></a> </div>
          </div>
        </div>
      </div>
    </footer>
    <div class="m-footer" style="display:none;"> <a class="navFooter" target="_self" href="/"><i class="fa fa-home"></i>首页</a>
      <button type="button" class="navFooter" id="sidebarToggle"><i class="fa fa-list"></i>分类</button>
      <a class="navFooter" target="_self" href="/index.php/vod/type/id/20.html"><i class="fas fa-layer-group"></i>推荐</a> <a class="navFooter" target="_self" href="/index.php/user/buy.html"><i class="fa fa-diamond"></i>VIP</a> <a class="navFooter" target="_self" href="/index.php/user/login.html"><i class="fa fa-user"></i>我的</a> </div>
  </div>
  <!-- /.content-wrapper -->
</div>
<!-- /#wrapper -->
<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top"> <i class="fas fa-angle-up"></i> </a>
<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">确定要退出?</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
      </div>
      <div class="modal-body"> 真的要退出登录吗 </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">取消</button>
        <a class="btn btn-primary" href="/index.php/user/logout.html" > 退出 </a> </div>
    </div>
  </div>
</div>
<!-- Bootstrap core JavaScript-->
<script src="/template/RX03/html/style/js/bootstrap.bundle.min.js"></script>
<!-- Core plugin JavaScript-->
<script src="/template/RX03/html/style/js/jquery.easing.min.js"></script>
<!-- Owl Carousel -->
<script src="/template/RX03/html/style/js/owl.carousel.js"></script>
<!-- Custom scripts for all pages-->
<script src="/template/RX03/html/style/js/custom.js"></script>
<script>

    $(document).on('click','#sidebarTogglePc',function (e) {
        e.preventDefault();
        $("#block-slide-pc").slideToggle("fast")
        if($("#block-slide-pc-down").is(":visible")){
            $("#block-slide-pc-down").slideToggle("fast")
        }
		if($("#block-slide-pc-down2").is(":visible")){
            $("#block-slide-pc-down2").slideToggle("fast")
        }


        // $("#block-slide-pc-down").slideToggle("fast")
    });
    $(document).on('click','#sidebarTogglePcDown',function (e) {
        e.preventDefault();
        $("#block-slide-pc-down").slideToggle("fast")
		if($("#block-slide-pc").is(":visible")){
            $("#block-slide-pc").slideToggle("fast")
        }
        if($("#block-slide-pc-down2").is(":visible")){
            $("#block-slide-pc-down2").slideToggle("fast")
        }


        // $("#block-slide-pc").slideToggle("fast")
    });
	$(document).on('click','#sidebarTogglePcDown2',function (e) {
        e.preventDefault();
        $("#block-slide-pc-down2").slideToggle("fast")
		if($("#block-slide-pc").is(":visible")){
            $("#block-slide-pc").slideToggle("fast")
        }
        if($("#block-slide-pc-down").is(":visible")){
            $("#block-slide-pc-down").slideToggle("fast")
        }

    });
    $(document).on('click','#sidebarTogglePcLeft',function (e) {
        e.preventDefault();
        $("#block-slide-pc").slideToggle("fast")
        if($("#block-slide-pc-down").is(":visible")){
            $("#block-slide-pc-down").slideToggle("fast")
        }
        if($("#block-slide-pc-down2").is(":visible")){
            $("#block-slide-pc-down2").slideToggle("fast")
        }

    });
    $(document).on('click','#sidebarTogglePcLeftDown',function (e) {
        e.preventDefault();
        $("#block-slide-pc-down").slideToggle("fast")
        if($("#block-slide-pc").is(":visible")){
            $("#block-slide-pc").slideToggle("fast")
        }
        if($("#block-slide-pc-down2").is(":visible")){
            $("#block-slide-pc-down2").slideToggle("fast")
        }

    });
    $(document).on('click','#sidebarTogglePcLeftDown2',function (e) {
        e.preventDefault();
        $("#block-slide-pc-down2").slideToggle("fast")
        if($("#block-slide-pc").is(":visible")){
            $("#block-slide-pc").slideToggle("fast")
        }
        if($("#block-slide-pc-down").is(":visible")){
            $("#block-slide-pc-down").slideToggle("fast")
        }

    });


    $(document).ready(function() {
        $("img.lazy").lazyload({
            effect : "fadeIn",
            threshold : 500
        });
        $("img.lazy1").lazyload({
            effect : "fadeIn",
            threshold : 500
        });

    });
</script>
</body>
</html>
