.qc_ptlogin_iframe {
	margin: 0;
	padding: 0;
}
.qq-body {
	height: 300px;
	width: 100%;
}
.qq-content {
    height: 240px;
	overflow: hidden;
	position: relative;
	z-index: 1;
}
#qc_ptlogin_iframe {
	margin-top: -90px;
    margin-left: -60px;
	overflow: hidden;
	height: 350px;
}
.login_Div {
    position: fixed;
    width: 450px;
    height: 400px;
    padding: 5px;
    margin: 0;
    top: 50%;
    left: 50%;
    z-index: 9999;
    border-radius: 5px;
    background-color: #FFF;
    box-shadow: 0 5px 12px rgba(15,27,39,.4);
    transform: translateX(-50%) translateY(-50%);
}
.login_Div:before,
.qq-content:before {
    content: '';
    -webkit-animation: loader-spin 4s infinite linear;
    -o-animation: loader-spin 4s infinite linear;
    animation: loader-spin 4s infinite linear;
    height: 80px;
    width: 80px;
    margin: -40px;
    border-radius: 50%;
    border: dashed 2px #d8d8d8;
    text-align: center;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: -1;
}
.login_Div .close {
    position: absolute;
    right: -30px;
    top: -35px;
    color: #FFF;
    font-size: 30px;
    cursor: pointer;
    opacity: 1;
    width: 30px;
    height: 30px;
    text-align: center;
}
.login_Div .close:hover {
	opacity: .85;
}
@-webkit-keyframes loader-spin {
    from {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}
@-moz-keyframes loader-spin {
    from {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}
@-ms-keyframes loader-spin {
    from {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}
@keyframes loader-spin {
    from {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}
.mask_Div {
	position: fixed;
	overflow: hidden;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 999;
	background: rgba(26,53,71,.85);
}
.btn-qqbinds {
    color: #FFF;
    background-color: #26B8F2;
}
.btn-wechat {
    color: #FFF;
    background-color: #2EB02F;
}
.outside-login-list a {
    display: none;
    text-decoration: none;
}
.outside-login-list .actived {
    display: block;
}
.outside-login-btn {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}
.outside-login-btn em {
    display: block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    margin: 0 auto 5px;
    white-space: normal;
}
.outside-login-btn.wechat em {
    background-color: #25be03;
}
.outside-login-btn.mail em,
.outside-login-btn.qq em {
    background-color: #12b7f5;
}
.mail-login-icon,
.qq-login-icon,
.wechat-login-icon {
    display: inline-block;
    vertical-align: middle;
    width: 32px;
    height: 32px;
}
.qq-login-icon {
    background-image: url(../fonts/login-v20170405-201708011445.svg);
    background-position: 72.76% 38.269999999999996%;
    background-size: 1006.25% 859.375%;
    background-repeat: no-repeat;
}
.mail-login-icon {
    background-image: url(../fonts/login-v20170405-201708011445.svg);
    background-position: 84.48% 38.269999999999996%;
    background-size: 1006.25% 859.375%;
    background-repeat: no-repeat;
}
.wechat-login-icon {
    background-image: url(../fonts/login-v20170405-201708011445.svg);
    background-position: 94.14% 20.990000000000002%;
    background-size: 1006.25% 859.375%;
    background-repeat: no-repeat;
}
.outside-login-btn span {
    font-size: 14px;
    color: #333;
}